.syndicate
logs/
.syndicate-config-*/
.idea/
target/
test4/.idea
test4/.syndicate
test4/logs/.syndicate-config-*/
task01/.idea
task01/.syndicate
task01/logs/.syndicate-config-*/
task02/.idea
task02/.syndicate
task02/logs/.syndicate-config-*/
task03/.idea
task04/.syndicate
task04/logs/.syndicate-config-*/